<template>
  <v-badge
    overlap
    color="green"
    content="6"
    class="align-self-center ml-auto"
  >
    <v-avatar color="indigo">
      <v-icon dark>
        mdi-account-circle
      </v-icon>
    </v-avatar>
  </v-badge>
</template>

<script>
export default {
  name: 'AvatarBadge'
}
</script>
