<template>
  <v-container class="fluid">
    <v-row class="d-flex justify-center">
      <v-col class="col-12 d-flex justify-center col-md-6">
        <v-img src="@/assets/smash-19-workflow.png"></v-img>
      </v-col>
      <v-col class="col-12 col-md-6 d-flex flex-column order-md-first">
        <v-row class="d-flex justify-space-around justify-lg-start">
          <v-col class="col-10 d-flex align-center">
            <div>
              <h1>Avec Groupomania, partagez et restez en contact avec vos collègues.</h1>
            </div>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="d-flex justify-space-around col-md-8">
            <v-btn to="/login" color="primary">Se connecter</v-btn>
            <v-btn to="/signup" color="secondary">S'inscrire</v-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>
