<template>
  <v-container>
    <v-row>
      <v-col>
        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
        >
          <v-text-field
            v-model="email"
            :rules="emailRules"
            label="E-mail"
            required
          ></v-text-field>
          <v-text-field
          v-model="password"
          :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
          @click:append="show = !show"
          :type="show ? 'text' : 'password'"
          :counter="8"
          :rules="passwordRules"
          label="Mot de passe"
          required
          ></v-text-field>
          <v-row>
            <v-col class="col-sm-4 d-flex justify-center justify-md-start">
              <v-btn
                :disabled="!valid"
                color="success"
                class="mr-4"
                @click="login"
              >
                Se connecter
              </v-btn>
            </v-col>
            <v-col class="col-sm-4 d-flex justify-center justify-md-start">
              <v-btn to="/signup"
                color="info"
                class="mr-4"
              >
                Créer un compte
              </v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: function () {
    return {
      show: false,
      valid: true,
      email: '',
      emailRules: [
        v => !!v || 'Saisissez une adresse électronique valide',
        v => /.+@.+\..+/.test(v) || 'Saisissez une adresse électronique valide'
      ],
      password: '',
      passwordRules: [
        v => !!v || 'Ce champ est obligatoire.',
        v => /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$/.test(v)
      ]
    }
  },
  methods: {
    login () {
      const data = {
        email: this.email,
        password: this.password
      }
      if (this.$refs.form.validate()) {
        this.$store.dispatch('auth/login', data)
      }
    }
  }
}
</script>
