<template>
  <v-app-bar
  app
  color="accent"
  dark
  mb-5
  prominent
>
  <v-toolbar-title id="nav-title">
    <v-img id="logo" src="@/assets/icon-left-font-monochrome-black.svg" width="200" alt="Groupomania logo" @click.prevent="goHome" class="align-self-center"></v-img>
  </v-toolbar-title>
  <AvatarBadge></AvatarBadge>
</v-app-bar>
</template>

<script>
import AvatarBadge from './AvatarBadge'

export default {
  methods: {
    goHome () {
      this.$router.push('/')
    }
  },
  components: { AvatarBadge }
}
</script>
<style scoped>
  #logo {
    cursor: pointer;
  }
  #nav-title {
    align-self: center;
  }
</style>
