<template>
  <v-container>
    <v-card
      light
      max-width="80vw"
      class="mx-auto my-2"
    >
      <!-- Post Author Avatar and Name -->
      <v-list-item>
        <v-list-item-avatar  :color="currentUser.id === post.postAuthorId ? 'indigo' : 'secondary'" v-if="!post.postAuthor.profilePic">
          <v-icon dark>
            mdi-account-circle
          </v-icon>
        </v-list-item-avatar>
        <v-list-item-avatar color="grey darken-3" v-else>
          <v-img
            class="elevation-6"
            alt="photo de profil"
            :src="post.postAuthor.profilePic"
          ></v-img>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title>{{ getPostAuthorName(post) }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <!-- Post content -->
      <v-card-text class="body-1 py-2 ml-2" color="grey darken-4" v-text="post.content"></v-card-text>
        <v-img
          :src="post.imageUrl"
          class="white--text align-end mt-2"
          height="200px"
          contain
          v-if="post.imageUrl"
        >
        </v-img>
        <!-- Post buttons -->
        <v-card-actions class="py-2">
          <v-spacer></v-spacer>
              <v-btn
                v-if="post.postAuthorId === currentUser.id"
                icon
                small
                color="error"
                @click="deletePost(post.id)"
              >
                <v-icon>
                  mdi-trash-can-outline
                </v-icon>
              </v-btn>
              <v-btn
                v-if="post.postAuthorId === currentUser.id"
                icon
                small
                color="success"
                @click="editPost(post)"
              >
                <v-icon left>
                  mdi-pencil
                </v-icon>
              </v-btn>
            <v-icon class="mr-1"  @click="isActive = !isActive">
              mdi-message-text
            </v-icon>
            <span class="subheading mr-2">{{ numberOfComments(post) }}</span>
        </v-card-actions>
      <!-- Comments -->
      <v-expand-transition>
        <div v-show="isActive">
          <v-divider></v-divider>
          <v-row>
            <v-col
              cols="12"

            >
            <!-- Comment input -->
              <v-textarea
                label="Votre commentaire"
                filled
                rounded
                rows="1"
                v-model="newComment.content"
                @keyup.enter="createComment(post.id)"
              ></v-textarea>
            </v-col>
          </v-row>
          <!-- Comments -->
          <v-row
          v-for="comment in post.Comments"
          :key= comment.id
          >
            <v-col class="col-12">
              <v-row>
              <!-- Comment Author Avatar -->
                <v-col class="col-2">
                  <v-list-item>
                    <v-list-item-avatar size="36" :color="currentUser.id === comment.commentAuthorId ? 'indigo' : 'secondary'" v-if="!comment.CommentAuthor.profilePic">
                      <v-icon dark>
                        mdi-account-circle
                      </v-icon>
                    </v-list-item-avatar>
                    <v-list-item-avatar color="grey darken-3" v-else>
                      <v-img
                        class="elevation-6"
                        alt="photo de profil"
                        :src="comment.CommentAuthor.profilePic"
                      ></v-img>
                    </v-list-item-avatar>
                  </v-list-item>
                </v-col>
                <v-col class="col-10">
                  <!-- Comment Author Name -->
                  <v-row>
                    <v-list-item>
                      <v-list-item-content>
                        <v-list-item-title>{{ getCommentAuthorName(comment) }}</v-list-item-title>
                      </v-list-item-content>
                      <v-list-item-icon>
                        <v-btn
                        icon
                        x-small
                        color="success"
                        @click="editComment(comment)"
                        v-if="comment.commentAuthorId === currentUser.id"
                        >
                          <v-icon>
                            mdi-pencil-outline
                          </v-icon>
                        </v-btn>
                      </v-list-item-icon>
                      <v-list-item-icon>
                        <v-btn
                        icon
                        x-small
                        color="error"
                        @click="deleteComment(comment.postId, comment.id)"
                        v-if="comment.commentAuthorId === currentUser.id"
                        >
                          <v-icon>
                            mdi-trash-can-outline
                          </v-icon>
                        </v-btn>
                      </v-list-item-icon>
                    </v-list-item>
                  </v-row>
                  <!-- Comment Content -->
                  <v-row>
                    <v-card-text
                      :class="{ editing: comment === commentToEdit }"
                      class="ml-3"
                    >
                      <span class="view">
                        {{ comment.content }}
                      </span>
                      <input
                      v-model="comment.content"
                      class="edit"
                      v-focus="comment == commentToEdit"
                      @keyup.enter="updateComment(comment)"
                      >
                      </v-card-text>
                  </v-row>
                  <v-divider></v-divider>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </div>
      </v-expand-transition>
    </v-card>
    <!-- Edit Post Dialog -->
    <v-dialog
      v-model="editPostDialog"
      persistent
      width="500"
    >
      <v-card
        class="overflow-hidden"
        light
      >
        <v-toolbar
          flat
          light
        >
          <v-toolbar-title class="font-weight-light offset-3">
            Modifiez votre publication
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn
            fab
            small
            @click="editPostDialog = false"
          >
            <v-icon>
              mdi-close
            </v-icon>
          </v-btn>
        </v-toolbar>
        <v-divider></v-divider>
        <v-card-text class="mt-5">
          <v-textarea
            filled
            color="white"
            :label="'Que voulez-vous dire' + ' ' + currentUser.firstName + '?'"
            rows="2"
            v-model="postToEdit.content"
          ></v-textarea>
          <v-file-input
            :fileRules="fileRules"
            accept="image/png, image/jpeg, image/bmp, image/gif"
            prepend-icon="mdi-file-image"
            clearable
            v-model="file"
            @change="onEditPostFileChange($event)"
          ></v-file-input>
          <v-img
            contain
            max-height="150"
            max-width="250"
            :src="postToEdit.imageUrl"
            v-if="postToEdit.imageUrl"
          ></v-img>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="secondary"
            @click="updatePost"
          >
            Enregistrer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>
<script>
import { postService } from '../services/post.service'
import { commentService } from '../services/comment.service'
export default {
  name: 'Post',
  props: ['post', 'currentUser'],
  data: function () {
    return {
      isActive: false,
      editPostDialog: false,
      oldPost: {
        id: '',
        content: '',
        imageUrl: ''
      },
      postToEdit: {
        id: '',
        content: '',
        imageUrl: ''
      },
      file: null,
      fileRules: [
        value => !value || value.size < 2000000 || 'La taille de l\'image doit être inférieure à 2 MB!'
      ],
      newComment: {
        content: ''
      },
      commentToEdit: null
    }
  },
  methods: {
    numberOfComments (post) {
      return post.Comments.length
    },
    getPostAuthorName (post) {
      return post.postAuthor.firstName + ' ' + post.postAuthor.lastName
    },
    getCommentAuthorName (comment) {
      return comment.CommentAuthor.firstName + ' ' + comment.CommentAuthor.lastName
    },
    editPost (post) {
      this.postToEdit.id = post.id
      this.oldPost.id = post.id
      this.postToEdit.content = post.content
      this.oldPost.content = post.content
      if (post.imageUrl) {
        this.postToEdit.imageUrl = post.imageUrl
        this.oldPost.imageUrl = post.imageUrl
      }
      this.editPostDialog = true
    },
    onEditPostFileChange (file) {
      if (!file) {
        this.postToEdit = ''
        return this.postToEdit.imageUrl
      }
      const objectUrl = URL.createObjectURL(file)
      this.postToEdit.imageUrl = objectUrl
    },
    async updatePost () {
      if (this.postToEdit.content.length <= 0 && !this.file) {
        const message = 'Vous voulez peut-être supprimer le post ?'
        try {
          this.editPostDialog = false
          return this.$store.dispatch('alert/warning', message, { root: true })
        } catch (error) {
          console.error(error)
        }
      } else if ((this.postToEdit.content === this.oldPost.content) && (this.postToEdit.imageUrl === this.oldPost.imageUrl)) {
        const message = 'Aucune modification apportée'
        try {
          this.editPostDialog = false
          return this.$store.dispatch('alert/warning', message, { root: true })
        } catch (error) {
          console.error(error)
        }
      }
      try {
        const postId = this.postToEdit.id
        const data = new FormData()
        if (this.file) {
          data.append('imageUrl', this.file)
        }
        data.append('content', this.postToEdit.content)
        await postService.updatePost(postId, data)
        this.postToEdit.content = ''
        this.postToEdit.imageUrl = ''
        this.file = null
        this.$store.dispatch('post/getPosts')
        this.editPostDialog = false
      } catch (error) {
        console.log(error)
        this.$store.dispatch('alert/error', error, { root: true })
      }
    },
    async deletePost (id) {
      try {
        await postService.deletePost(id)
        this.$store.dispatch('post/getPosts')
      } catch (error) {
        console.error(error)
        const message = 'Oups ! Un problème est survenu. Veuillez nous en excuser.'
        this.$store.dispatch('alert/warning', message, { root: true })
      }
    },
    async createComment (postId) {
      if (this.newComment.content <= 0) {
        return
      }
      try {
        const data = {
          content: this.newComment.content,
          commentAuthorId: this.currentUser.id
        }
        await commentService.createComment(postId, data)
        this.$store.dispatch('post/getPosts')
        this.newComment.content = ''
      } catch (error) {
        console.error(error)
        const message = 'Oups ! Un problème est survenu. Veuillez nous en excuser.'
        this.$store.dispatch('alert/warning', message, { root: true })
      }
    },
    async deleteComment (postId, commentId) {
      try {
        await commentService.deleteComment(postId, commentId)
        this.$store.dispatch('post/getPosts')
      } catch (error) {
        console.error(error)
        const message = 'Oups ! Un problème est survenu. Veuillez nous en excuser.'
        this.$store.dispatch('alert/warning', message, { root: true })
      }
    },
    editComment (comment) {
      this.commentToEdit = comment
    },
    async updateComment (comment) {
      const postId = comment.postId
      const commentId = comment.id
      const data = { content: comment.content }
      try {
        await commentService.updateComment(postId, commentId, data)
        this.commentToEdit = null
      } catch (error) {
        console.error(error)
      }
    }
  },
  directives: {
    focus: function (el, binding) {
      if (binding.value) {
        el.focus()
      }
    }
  }
}
</script>

<style scoped>

  div.editing .view {
    display: none;
  }

  div.editing .edit {
    display: block;
  }

  div .edit {
    display: none
  }

</style>
