<template>
  <v-container>
    <v-card
      class="mx-auto"
      max-width="434"
      tile
    >
      <v-img
        max-height="40vh"
        src="https://images.unsplash.com/photo-1601047656464-f4e7621681bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1332&q=80"
      >
        <v-row
          align="end"
          class="fill-height"
        >
          <v-col
            align-self="start"
            class="pa-0"
            cols="8"
          >
            <v-avatar
              class="profile"
              color="grey"
              size="164"
              tile
            >
            <v-img :src="user.profilePic" v-if="user.profilePic"></v-img>
            <span class="white--text headline" v-else>{{ getInitials }}</span>
            </v-avatar>
          </v-col>
          <v-col align-self="start" cols="2" v-if="user.id == currentUser.id">
            <div class="text-center mt-5">
              <v-btn
                fab
                dark
                color="secondary"
                class="text-center"
                @click="dialog = true"
              >
                <v-icon dark>
                  mdi-pencil
                </v-icon>
              </v-btn>
            </div>
          </v-col>
          <v-col class="py-0">
            <v-list-item
              color="rgba(0, 0, 0, .4)"
              dark
            >
              <v-list-item-content class="mb-2">
                <v-list-item-title class="title pb-1">
                  {{ getFullName }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-col>
        </v-row>
      </v-img>
      <v-card-text v-if="user.description">
        <div>{{ user.description }}</div>
      </v-card-text>

      <v-list-item>
        <v-list-item-icon>
          <v-icon>
            mdi-email
          </v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-subtitle>{{user.email}}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-card>

    <!-- EDIT PROFILE DIALOG -->
    <v-dialog
    v-model="dialog"
    width="500"
    >
      <v-card
        class="overflow-hidden"
        light
      >
        <v-toolbar
          flat
          color="primary"
        >
          <v-icon>mdi-account</v-icon>
          <v-toolbar-title class="font-weight-light">
            Mon profil
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn
            fab
            small
            @click="dialog = false"
          >
            <v-icon>
              mdi-close
            </v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <v-text-field
            color="white"
            label="Prénom"
            v-model="user.firstName"
          ></v-text-field>
          <v-text-field
            color="white"
            label="Nom"
            v-model="user.lastName"
          ></v-text-field>
          <v-textarea
            v-model="user.description"
            filled
            color="white"
            label="Description"
            rows="1"
          ></v-textarea>
          <v-file-input
            v-model="file"
            :rules="rules"
            accept="image/png, image/jpeg, image/bmp"
            placeholder="Modifiez votre photo de profil"
            prepend-icon="mdi-camera"
            label="Photo"
            class="slot"
          ></v-file-input>
            </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="secondary"
            @click="save"
          >
            Sauvegarder
          </v-btn>
        </v-card-actions>
        <v-snackbar
          v-model="hasSaved"
          :timeout="2000"
          absolute
          bottom
          left
        >
        Votre profil a bien été mis à jour
        </v-snackbar>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { userService } from '../services/user.service'
import { mapState } from 'vuex'

export default {
  data: function () {
    return {
      user: {
        id: '',
        firstName: '',
        lastName: '',
        email: '',
        profilePic: '',
        description: ''
      },
      file: null,
      editing: null,
      oldUser: '',
      rules: [
        value => !value || value.size < 2000000 || 'Avatar size should be less than 2 MB!'
      ],
      dialog: false,
      hasSaved: false
    }
  },
  methods: {
    async save () {
      try {
        const data = new FormData()
        data.append('firstName', this.user.firstName)
        data.append('lastName', this.user.lastName)
        data.append('email', this.user.email)
        data.append('description', this.user.description)
        data.append('image', this.file)

        await userService.updateUser(this.$route.params.id, data)
        this.hasSaved = true
      } catch (error) {
        console.log(error)
      }
    }
  },
  computed: {
    ...mapState({
      currentUser: state => state.auth.currentUser
    }),
    getInitials () {
      const firstName = this.user.firstName
      const lastName = this.user.lastName
      const initials = firstName.charAt(0) + lastName.charAt(0)
      return initials
    },
    getFullName () {
      return this.user.firstName + ' ' + this.user.lastName
    }
  },
  mounted: async function () {
    this.user = await userService.getUserById(this.$route.params.id)
  }

}
</script>
