<template>
  <v-container>
    <v-row>
      <v-col>
        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
        >
          <v-text-field
            v-model="firstName"
            :rules="firstNameRules"
            label="Prénom"
            required
          ></v-text-field>
          <v-text-field
            v-model="lastName"
            :rules="lastNameRules"
            label="Nom"
            required
          ></v-text-field>

          <v-text-field
            v-model="email"
            :rules="emailRules"
            label="E-mail"
            required
          ></v-text-field>
          <v-text-field
          v-model="password"
          :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
          @click:append="show = !show"
          :type="show ? 'text' : 'password'"
          :counter="8"
          :rules="passwordRules"
          label="Mot de passe"
          required
          ></v-text-field>
          <v-alert
            outlined
            type="error"
            border="left"
            class="my-8"
            v-if="error"
          >
          Oups ! Un problème est survenu, veuillez nous en excuser
          </v-alert>
          <v-row>
            <v-col class="col-sm-4 d-flex justify-center justify-md-start">
              <v-btn
                :disabled="!valid"
                color="success"
                class="mr-4"
                @click="validate"
              >
                Créer un compte
              </v-btn>
            </v-col>

            <v-col class="col-sm-4 d-flex justify-center justify-md-start">
              <v-btn to="/login"
                color="info"
                class="mr-4"
              >
                Se connecter
              </v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { userService } from '../services/user.service'

export default {
  data: function () {
    return {
      error: false,
      show: false,
      valid: true,
      firstName: '',
      firstNameRules: [
        v => !!v || 'Saisissez votre prénom',
        v => (v && v.length <= 15) || 'Votre prénom doit faire moins de 15 caractères',
        v => /^[a-zA-Z\u00C0-\u00FF]+(([ '-][a-zA-Z \u00C0-\u00FF])?[a-zA-Z\u00C0-\u00FF]*)*$/.test(v) || 'Votre prénom ne doit pas contenir des caractères spéciaux ni des chiffres'
      ],
      lastName: '',
      lastNameRules: [
        v => !!v || 'Saisissez votre nom',
        v => (v && v.length <= 15) || 'Votre nom doit faire moins de 15 caractères',
        v => /^[a-zA-Z\u00C0-\u00FF]+(([ '-][a-zA-Z \u00C0-\u00FF])?[a-zA-Z\u00C0-\u00FF]*)*$/.test(v) || 'Votre nom ne doit pas contenir des caractères spéciaux ni des chiffres'
      ],
      email: '',
      emailRules: [
        v => !!v || 'Saisissez une adresse électronique valide',
        v => /.+@.+\..+/.test(v) || 'Saisissez une adresse électronique valide'
      ],
      password: '',
      passwordRules: [
        v => !!v || 'Ce champ est obligatoire.',
        v => /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$/.test(v) || 'Tapez un mot de passe sûr : Au moins 8 caractères comprenant lettres majuscules, lettres minuscules et chiffres.'
      ]
    }
  },
  methods: {
    validate () {
      const data = {
        email: this.email,
        password: this.password,
        firstName: this.firstName,
        lastName: this.lastName
      }
      if (this.$refs.form.validate()) {
        try {
          userService.signup(data)
        } catch (error) {
          console.error(error)
        }
      }
    }
  }
}
</script>
