<template>
  <v-container>
    <v-row>
      <v-col class="col-md-6 mx-auto">
        <v-text-field
          :label="'Que voulez-vous dire' + ' ' + currentUser.firstName + '?'"
          filled
          shaped
          @click.prevent="newPostDialog = true"
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="col-md-5 mx-md-auto">
          <div v-for="post in allPosts" :key="post.id">
              <Post :post="post" :currentUser="currentUser"></Post>
           </div>
        </v-col>
    </v-row>
    <v-dialog
      v-model="newPostDialog"
      persistent
      width="500"
    >
      <v-card
        class="overflow-hidden"
        light
      >
        <v-toolbar
          flat
          light
        >
          <v-toolbar-title class="font-weight-light offset-3">
            Créez une publication
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn
            fab
            small
            @click="newPostDialog = false"
          >
            <v-icon>
              mdi-close
            </v-icon>
          </v-btn>
        </v-toolbar>
        <v-divider></v-divider>
        <v-card-text class="mt-5">
          <v-textarea
            filled
            color="white"
            :label="'Que voulez-vous dire' + ' ' + currentUser.firstName + '?'"
            rows="2"
            v-model="newPost.content"
          ></v-textarea>
          <v-file-input
            :fileRules="fileRules"
            accept="image/png, image/jpeg, image/bmp, image/gif"
            prepend-icon="mdi-file-image"
            clearable
            v-model="file"
            @change="onFileChange($event)"
          ></v-file-input>
          <v-img
            contain
            max-height="150"
            max-width="250"
            :src="url"
            v-if="url"
          ></v-img>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="secondary"
            @click="post"
          >
            Publier
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'
import Post from './Post'
import { postService } from '../services/post.service'

export default {
  name: 'Wall',
  components: { Post },
  data: function () {
    return {
      newPostDialog: false,
      fileRules: [
        value => !value || value.size < 2000000 || 'La taille de l\'image doit être inférieure à 2 MB!'
      ],
      url: null,
      newPost: {
        content: ''
      },
      file: null
    }
  },
  computed: {
    ...mapState({
      currentUser: state => state.auth.currentUser,
      allPosts: state => state.post.allPosts
    })
  },
  methods: {
    async post () {
      try {
        if (this.newPost.content.length <= 0 || !this.file) {
          const message = 'Vous devez écrire un message ou partager une image'
          this.$store.dispatch('alert/warning', message, { root: true })
        }
        const data = new FormData()
        if (this.file) {
          data.append('image', this.file)
        }
        data.append('content', this.newPost.content)
        data.append('postAuthorId', this.currentUser.id)
        await postService.createPost(data)
        this.newPost.content = ''
        this.file = null
        this.$store.dispatch('post/getPosts')
        this.newPostDialog = false
      } catch (error) {
        console.log(error)
        this.$store.dispatch('alert/error', error, { root: true })
      }
    },
    onFileChange (file) {
      if (!file) {
        this.url = ''
        return this.url
      }
      console.log(this.currentUser)
      console.log(this.allPosts)
      const objectUrl = URL.createObjectURL(file)
      this.url = objectUrl
    }
  },
  mounted: async function () {
    this.$store.dispatch('post/getPosts')
  }
}

</script>
