<template>
  <v-app>
   <Navbar></Navbar>
    <v-main>
      <v-container fluid>
        <v-row>
          <v-col>
            <v-alert
              v-if="alert.message"
              outlined
              :type="alert.type"
              border="left"
              dismissible
              close-text="fermer alerte"
            >
              {{alert.message}}
            </v-alert>
            <router-view></router-view>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
    <v-footer app absolute color="accent">
      <v-col
        class="text-center"
        cols="12"
      >
        {{ new Date().getFullYear() }} — <strong>Groupomania</strong>
      </v-col>
    </v-footer>
  </v-app>
</template>

<script>
import Navbar from './components/Navbar.vue'
import { mapState, mapActions } from 'vuex'

export default {
  name: 'App',
  components: { Navbar },
  computed: {
    ...mapState({
      alert: state => state.alert,
      currentUser: state => state.auth.currentUser
    })
  },
  methods: {
    ...mapActions({
      clearAlert: 'alert/clear'
    })
  },
  watch: {
    $route (to, from) {
      // clear alert on location change
      this.clearAlert()
    }
  }
}
</script>
